<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000">

  <!-- Favicon Icons -->
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="apple-touch-icon" sizes="180x180"
    href="{{ url_for('static', filename='images/icons/favicons/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32"
    href="{{ url_for('static', filename='images/icons/favicons/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16"
    href="{{ url_for('static', filename='images/icons/favicons/favicon-16x16.png') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/icons/favicons/favicon.ico') }}">

  <!-- App Icons -->
  <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='icon-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='icon-512x512.png') }}">

  <!-- Other meta tags and CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <title>Text to Speech App</title>

</head>

<body>
  <div class="container py-4">
    <h1 class="text-center mb-4">Text to Speech</h1>

    <div class="row mt-4">
      <div class="col">
        <textarea class="form-control" id="textInput" rows="4" placeholder="Type something..."></textarea>
      </div>
    </div>

    <div class="row mt-4 d-flex justify-content-center">
      <div class="col-auto">
        <button id="playButton" class="btn btn-primary me-2">Play</button>
        <button id="clearButton" class="btn btn-secondary">Clear</button>
      </div>
    </div>

    <div class="row mt-4 d-flex justify-content-center">
      <div class="col-auto">
        <button id="installButton" class="btn btn-success" style="display: none;">Install App</button>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col">
        <label for="voiceSelect" class="form-label">Preferred Voice:</label>
        <select class="form-select" id="voiceSelect" name="voice">
          <option value="0">Microsoft David - English (United States) (en-US)</option>
          <option value="1">Microsoft Richard - English (Canada) (en-CA)</option>
          <option value="2">Microsoft Linda - English (Canada) (en-CA)</option>
          <option value="3">Microsoft Mark - English (United States) (en-US)</option>
          <option value="4">Microsoft Zira - English (United States) (en-US)</option>
          <option value="5">Google Deutsch (de-DE)</option>
          <option value="6">Google US English (en-US)</option>
          <option value="7">Google UK English Female (en-GB)</option>
          <option value="8" selected>Google UK English Male (en-GB)</option>
          <option value="9">Google español (es-ES)</option>
          <option value="10">Google español de Estados Unidos (es-US)</option>
          <option value="11">Google français (fr-FR)</option>
          <option value="12">Google हिन्दी (hi-IN)</option>
          <option value="13">Google Bahasa Indonesia (id-ID)</option>
          <option value="14">Google italiano (it-IT)</option>
          <option value="15">Google 日本語 (ja-JP)</option>
          <option value="16">Google 한국의 (ko-KR)</option>
          <option value="17">Google Nederlands (nl-NL)</option>
          <option value="18">Google polski (pl-PL)</option>
          <option value="19">Google português do Brasil (pt-BR)</option>
          <option value="20">Google русский (ru-RU)</option>
          <option value="21">Google&nbsp;普通话（中国大陆） (zh-CN)</option>
          <option value="22">Google&nbsp;粤語（香港） (zh-HK)</option>
          <option value="23">Google 國語（臺灣） (zh-TW)</option>
        </select>
      </div>
    </div>

    <div class="row mt-4 justify-content-center">
      <div class="col-8">
        <label for="rateInput" class="form-label">Reading Speed:</label>
        <input type="range" class="form-range" id="rateInput" name="rate" min="0.5" max="1.5" value="1" step="0.5">
        <output id="rateOutput" class="form-text">1</output>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker
          .register(
            "{{ url_for('static', filename='js/service-worker.js') }}"
          )
          .then((registration) => {
            console.log("Service Worker registered with scope:", registration.scope);
          })
          .catch((error) => {
            console.error("Service Worker registration failed:", error);
          });
      }
    </script>
</body>

</html>