<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="theme-color" content="#000000">

  <!-- Favicon Icons -->
  <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='images/icons/favicons/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/icons/favicons/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/icons/favicons/favicon-16x16.png') }}">
  <link rel="icon" href="{{ url_for('static', filename='images/icons/favicons/favicon.ico') }}">

  <!-- App Icons -->
  <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='icon-192x192.png') }}">
  <link rel="icon" type="image/png" sizes="512x512" href="{{ url_for('static', filename='icon-512x512.png') }}">

  <!-- Other meta tags and CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <title>Text to Speech App</title>

</head>

<body>
  <div class="container py-5">
    <h1 class="text-center mb-4">Text to Speech</h1>

    <div class="mb-3">
      <textarea class="form-control" id="textInput" rows="4" placeholder="Type something..."></textarea>
    </div>

    <div class="mb-3">
      <label for="rateInput" class="form-label">Rate:</label>
      <input type="range" class="form-range" id="rateInput" name="rate" min="0.5" max="1.5" value="1" step="0.5">
      <output id="rateOutput" class="form-text">1</output>
    </div>

    <div class="mb-3">
      <label for="voiceSelect" class="form-label">Select voice:</label>
      <select class="form-select" id="voiceSelect" name="voice">
        <option selected>Select a voice</option>
        <!-- Voice options will be dynamically populated -->
      </select>
    </div>

    <div class="d-flex">
      <button id="playButton" class="btn btn-primary me-2">Play</button>
      <button id="clearButton" class="btn btn-secondary">Clear</button>
    </div>

    <button id="installButton" class="btn btn-success mt-3" style="display: none;">Install App</button>
  </div>

  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  <script>
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker
        .register(
          "{{ url_for('static', filename='js/service-worker.js') }}"
        )
        .then((registration) => {
          console.log("Service Worker registered with scope:", registration.scope);
        })
        .catch((error) => {
          console.error("Service Worker registration failed:", error);
        });
    }
  </script>
</body>

</html>